@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

.navbar {
  background: rgb(229 203 159 / 55%);
  margin-top: 0;
}

.card_container {
  width: 50%;
  margin: 80px auto;

  .slide {
    transform: scale(0.3);
    transition: transform 300ms;
    opacity: 0.5;
    margin-top: 50px;
  }

  .activeSlide {
    transform: scale(1.1);
    opacity: 1;
  }

  .arrow {
    color: #e74c3cd4;
    position: absolute;
    cursor: pointer;
    height: 50px;
    width: 20px;
    z-index: 10;
  }

  .next {
    right: 0%;
    top: 50%;
  }

  .prev {
    left: 0%;
    top: 50%;
  }

  .card {
    border: 1px solid #dedede;
    border-radius: 10px;
    box-shadow: 3px 5px 5px rgba(54, 50, 50, 0.38);
    cursor: pointer;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    transition: transform 0.3s ease-in-out;
  }

  .techno-container {
    display: flex;
    justify-content: center;

    :not(:last-child) {
      margin-right: 10px;
      margin-bottom: 5px;
    }

    .techno {
      width: 20px;
      height: 20px;
    }
  }

  a {
    text-decoration: none;
  }

  .card_img {
    object-fit: cover;
    width: 100%;
    border-bottom: 1px solid #dedede;
  }

  .card_title {
    background-color: #e74c3cd4;
    text-align: center;
    border-radius: 10px 10px 0 0;
    color: #fff;
    margin: 0;
    font-size: 20px;
    padding: 4px;
  }

  .description {
    color: #583532;
    font-size: 13px;
    text-align: center;
    margin-left: 5px;
    margin-right: 5px;
    padding: 2px;
  }
}

@media (max-width: 1200px) {
  .card_container {
    width: 70%;
  }
}

@media (max-width: 992px) {
  .card_container {
    width: 90%;
  }

  .card {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .card_container {
    width: 100%;
  }

  .card {
    width: 100%;
    margin: 10px 20px;
  }
}

@media (max-width: 480px) {
  .card_container {
    width: 100%;
  }

  .card {
    width: 100%;
    margin-left: 0;

    .card_title {
      font-size: 13px;
    }
    .description {
      font-size: 10px;
    }
  }
  .prev {
    margin-left: 20px;
  }
  .next {
    margin-right: 20px;
  }
}
